import type { __COMPONENT__Props } from './__COMPONENT__'
import { __COMPONENT__ } from './__COMPONENT__'

export default {
  component: __COMPONENT__,
  title: 'UI/__COMPONENT__',
  argTypes: {},
}

export const Usage = (args: __COMPONENT__Props) => (
  <__COMPONENT__ {...args} />
)
